<%= content_for :photo  do%>
  <div class="blurred-container">
      <div class="img-src"> </div>
  </div>
<% end %>

<div class="main ">
    <div class="container tim-container" style="max-width:800px; padding-top:25px; padding-bottom:25px;">
       <h1 class="text-center">NEXT BETA<br><small class="subtitle">Routes for the people.</small></h1>
       <p>Next Beta looks to create an easy to use open access climbing app that allows users to add and view climbing routes.  There is also a comment section which allows route feedback from users.  The map is generated using Mapbox.js and the project uses a Ruby on Rails framework.  You can create new routes by clicking on the map and creating a marker and then clicking the marker again.  You can see route details by clicking on any markers .

           <!--     end extras -->
    </div>
    <div class="space"></div>
<!-- end container -->
</div>
