<%= content_for :photo  do%>
  <div class="blurred-container">
      <div class="img-src"> </div>
  </div>
<% end %>

<div class="main ">
    <div class="container tim-container" style="max-width:800px; padding-top:100px">
       <h1 class="text-center">NEXT BETA<br><small class="subtitle">Routes for the people.</small></h1>
       <p>Next Beta looks to create an easy to use open access climbing app that allows users to add and view climbing routes with a comment section allowing feedback from users.  The map is generated using Mapbox.js and the project uses a Ruby on Rails MVC.

           <!--     end extras -->
    </div>
    <div class="space"></div>
<!-- end container -->
</div>
