/*
 *= require leaflet

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "gsdk";



#map {

  height: 500px;
  width: 750px;
  text-align: center;
}

body {
  color: black;
}
.img-src {
  background-image: asset-url('5242-rock-climbing-mountain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100vw;
}

.avatar {
    border-radius: 50%;
}
