/*
 *= require mapbox

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "gsdk";


.img-src {
  background-image: asset-url('5242-rock-climbing-mountain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  width: 100vw;
}

#map {

  width: 1000px;
  height: 575px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  z-index: 1;
  padding-bottom: 25px;
}

body {
  color: white;
  background-color: black;
}

.avatar {
  margin-top: 10px;
  border-radius: 50%;
}

input {
  color: black;
}

.main {
  color: black
}

#responsive {
  background-color: rgba(0, 0, 0, 0.85);
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  height: 400px;
  width: 600px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  overflow: scroll;
}

#route_form{
  background-color: rgba(0, 0, 0, 0.85);
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  height: 500px;
  width: 600px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  overflow: scroll;
}

#myModalLabel {
  text-align: center;
}

.rating {
  text-align: right;
}

.profile {
  margin-top: 80px;
}

.dropdown-menu {
  margin-bottom: 20px;
}

.form{
  padding: 0px 30px 30px 30px ;
}
.form_header {
  text-align: center;
}
.modal-header {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.route_content {
  padding: 0px 10px 0px 10px
}

.route-rating {
  padding-right: 40px;
}
